.red {
  background-color: lightcoral;
}
.redd {
  background-color: rgb(219, 112, 112);
}
.green {
  background-color: lightgreen;
}
.blue {
  background-color: lightblue;
}

body {
  margin: 0;
  box-sizing: border-box;
}
.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* seda ei ole vaja kui kujunduse ja ekraani laius on samad */
}
.full-width {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.container {
  width: 1000px;
}
nav {
  height: 50px;
  box-sizing: border-box;
}
footer {
  height: 50px;
  box-sizing: border-box;
}

.hero {
  width: 100vw;
  height: 30vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
main {
  min-height: calc(100vh - 30vh - 50px - 50px); /* sellega lükkame footeri täpselt alla
}

.p-1 {
  padding: 1em;
}
